.newyear2023-block{
  margin-bottom: 105px;
  &__header{
    overflow: hidden;
    text-align: center;
    font-family: $font1;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FEA143;
    margin-bottom: 43px;
    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
  &__body{
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
}

