.newyear2023-content{
  margin: 0 0 60px;
  padding: 14px 0;
  background: #6B0008;
  box-shadow: 0 4px 4px #520107;
  &__body{
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
  }
  &__title{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF9AF;
  }
}