.newyear2023-block{
  margin-bottom: 105px;
  overflow: hidden;
  &__header{
    overflow: hidden;
    text-align: center;
    font-family: $font1;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FEA143;
    margin-bottom: 40px;
    text-transform: uppercase;
    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
  &__body{
    max-width: 1240px;
    padding: 0 70px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  .swiper{
  }
  .swiper-button-prev,
  .swiper-button-next{
    width: 25px;
    height: 45px;
    background-image: url("../img/arrow-slider.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .swiper-button-prev{
    left: 10px;
  }
  .swiper-button-next{
    transform: rotate(180deg);
    right: 10px;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after{
    display: none;
  }
  @include r(767){
    margin-bottom: 85px;
    &:last-of-type{
      margin-bottom: 0;
    }
    &__body{
      padding: 0 5px;
    }
    .swiper-button-prev,
    .swiper-button-next{
      display: none;
    }
  }
}

