.newyear2023-hero{
  position: relative;
  padding: 112px 20px 131px;
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  &__body{
    max-width: 684px;
    padding: 27px 20px;
    margin: 0 auto;
    background: #6B0008;
    border: 1px solid #FFF9AF;
    text-align: center;
  }
  &__figure{
    margin: 0;
  }
  &__text{
    font-weight: 300;
    font-size: 55px;
    line-height: 50px;
    text-align: center;
    color: #FFF9AF;
    margin: 0;
  }
}